{% load bootstrap5 static %}


<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Brother_Protection</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "startbootstrap-blog-home-gh-pages/assets/favicon.ico" %}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "startbootstrap-blog-home-gh-pages/css/styles.css" %}" rel="stylesheet" />
        <!-- JQuery -->
        <script src="{% static "jquery-3.6.3.min.js" %}"></script>
{#        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>#}
        <!-- JQuery.Form -->
{#        <script src="{% static "jquery.form-4.3.0.js" %}"></script>#}
{#        <script src="{% static "jquery.form-4.3.0.min.js" %}"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
       <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/a33698b627.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- Messages-->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <span class="fst-italic fw-bold" STYLE="font-size: large">
                        {{ message | safe }}
                    </span>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Page content-->
        {% block content %}

        {% endblock content %}
    </body>

</html>





