{% load bootstrap5 thumbnail %}

<!-- Comments section-->
<section class="mt-5 mb-5 ms-3">
    <div class="card bg-light">
        <div class="card-header">
            Leave a Comment
        </div>
        {% if user.is_authenticated %}
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-3" method="POST" enctype="multipart/form-data" action="{% url "firetube:new_comment" video.pk%}">
                    {% csrf_token %}
                    {% bootstrap_form comment_form layout="inline" %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
                    </div>
                </form>
                {% if video.comment_set.exists %}
                    {% for comment in video.comment_set.all %}
                        <!-- Comment with nested comments-->
                        <div class="d-flex mt-5">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0">
                                <img class="rounded-circle me-3" src="{{ comment.author.avatar_url }}" alt="pydenticon_image" style="height: 60px; width: 60px"/>
                            </div>
                            <div class="ms-1">
                                <div class="fw-bold mb-2">{{ comment.author }}
                                    <span class="ms-2">
                                        {% if comment.created_at == comment.updated_at %}
                                            <small class="text-muted">Updated : {{ comment.created_at | date:"Y.m.d H:i"}}</small>
                                        {% else %}
                                            <small class="text-muted">{{ comment.updated_at | date:"Y.m.d H:i"}}</small>
                                        {% endif %}
                                    </span>
                                </div>
                                {{ comment.message | linebreaks }}

                                {% if user.is_authenticated and comment.author == user %}
{#                                    <a role="button" class="btn btn-primary" style="font-size: 2.0px" href="{% url "blog:comment_edit" comment.pk %}">수정</a>#}
                                    <a role="button" class="btn btn-danger" style="font-size: 2.0px;" data-bs-toggle="modal" data-bs-target="#CommentDeleteModal">삭제</a>&nbsp;
                                    {% include "firetube/comment_delete_modal.html" %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
             <div class="card-body">
                <a role="button" class="btn btn-outline-dark d-grid" href="{% url "accounts:login" %}" data-toggle="" data-target="#">
                    <strong class="text-muted">Log in and leave a comment</strong>
                </a>
             </div>
        {% endif %}
    </div>
</section>
