{% extends "firetube/post_base.html" %}
{% load bootstrap5 static thumbnail humanize embed_video_tags %}

    {% block semi_content %}
        {% for video in page_obj %}
        <div class="card mb-4">
            {% video video.video as youtube %}
                {% if youtube %}
                    <img class="card-img-top" src="{{ youtube.thumbnail }}" alt="{{ post }} head image" />
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/850/350/?blur" alt="random_image">
                {% endif %}
            {% endvideo %}

            <div class="card-body">
                <h3 class="card-title mb-2">
                    {{ video.title }}
                    {% if video.category == None %}
                        <span class="badge rounded-pill bg-secondary float-end" style="font-size: small"> 기 타 </span>
                    {% else %}
                        <span class="badge rounded-pill bg-secondary float-end" style="font-size: small"> {{ video.category }} </span>
                    {% endif %}
                </h3>
                <br>
                <p class="card-text lh-base mt2">{{ video.description | truncatewords:45 | safe }}</p>

                <div>
                    <a class="btn btn-primary" href="{{ video.get_absolute_url }}">Read more →</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ video.created_at | date:"Y-m-d" }} by {{ video.author | upper }}
                <div class="d-flex float-end" style="font-weight: bold; color: #6c757d;">조회수({{ video.n_count }})</div>
            </div>
        </div>
        {% endfor %}

{#        <div class="d-flex">#}
{#            {% for video in page_obj %}#}
{#            <div class="card mt-3 ms-3" style="width: 18rem; height: 26rem;">#}
{#                    {% video video.video as youtube %}#}
{#                        <img src="{{ youtube.thumbnail }}" style="width: 100%; height: 50%;" alt="...">#}
{#                    {% endvideo %}#}
{#                <div class="card-body">#}
{#                    <a href="{% url "firetube:video_detail" video.pk %}">#}
{#                        <h5 class="card-title">{{ video.title }}</h5>#}
{#                        <p class="card-text">{{ video.description|truncatewords:6 }}</p>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    13분 전, 조회수( )#}
{#                </div>#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}

        {% bootstrap_pagination page_obj %}
        <style> ul.pagination { justify-content: center; margin-top: 20px; margin-bottom: 20px} </style>

    {% endblock semi_content %}

{#            <div class="card ms-3 mt-3" style="width: 18rem; height: 26rem;">#}
{#                <img src="{{ video.photo }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Card title</h5>#}
{#                    <p class="card-text">Some quick </p>#}
{#                    <a href="#" class="btn btn-primary mt-5">Go somewhere</a>#}
{#                </div>#}
{#            </div>#}

